@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.h-scroll{
  animation: h-scrolling 50s linear infinite;
  animation-play-state: running;
}

.h-scroll:hover{
  animation-play-state: paused;
}

@keyframes h-scrolling {
  0% {
    transform: translateX(calc(50%));
  }
  100% {
    transform: translateX(calc(-120vw));
  }
}

.embla__slide {
  flex: 0 0 50%;
  min-width: 0;
}


