@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body {
    @apply dark:bg-gray-950 bg-white transition duration-200;
  }
}

body{
  overflow-x: hidden;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.h-scroll{
  animation: h-scrolling 24s linear infinite;
  animation-play-state: running;
}

.h-scroll:hover{
  animation-play-state: paused;
}

@keyframes h-scrolling {
  0% {
    transform: translateX(calc(-28rem));
  }
  100% {
    transform: translateX(calc(100%));
  }
}

.embla__slide {
  position: relative;
  min-width: 100%;
  flex: 0 0 100%;
}

.background-gradient::before{
  background: linear-gradient(180deg,rgba(0, 81, 255, 0.726) 0,rgba(74, 101, 255, 0) 100%);
  z-index: -10;
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.light body .background-gradient::before{
  background: linear-gradient(180deg,rgba(255, 255, 255, 0.376) 0,rgba(255, 255, 255, 0) 100%);
}



